:root{
	
	--background:#ECF0F3;
	--hBoxBackground:linear-gradient(145deg, #ff014f, #d11414);
	--boxshadow:5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
	--boxBackground:linear-gradient(145deg, #e2e8ec, #ffffff);
    --color:#3c3e41;
    --h_color:#ff014f;
	--headingColor:#1E2125;
	
}
html {
	scroll-behavior: smooth;
	
  }

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	background: var(--background);
}

#cursor {
	display: block;
	height: 30px;
    width: 30px;
    background-color: #c280a6d0;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: none;
    z-index: 1;
	opacity: 1;
   
}
#overlay{
	display: block;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    backdrop-filter: blur(10px);
}

hr{
	width: 75%;
	margin: auto;
	margin-top: 100px;
	background-color: var(--hBoxBackground);
}

.header {
    position: relative;
    top: 0;
	width: 100%;
	padding: 0 5%;
	height: 80px;
	justify-content: space-between;
	display: flex;
	align-items: center;
	/* background-color:wheat;
	box-shadow: var(--boxBackground); */
	z-index:2;
	
   
	


}

.logo h2 {
	font-weight: 900;
	color: var(--color);
	padding-left: 50px;
	
}

/* .akjug {
	color: #f4f5f6;
	background: linear-gradient(145deg, #ff014f, #d11414);
	transform: translateY(-5px);
	box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
	background: #f4f5f6;
	background: linear-gradient(145deg, #e2e8ec, #ffffff);
	color: #3c3e41;
} */

.navbar ul a {
	padding-right: 2vw;
	text-decoration: none;
	color: var(--color);
	font-weight: 500;
	font-size: 13px;
	display: inline-block;
	cursor: pointer;
	
	

}

.navbar ul:hover a {
	filter: blur(1px);
}

.navbar ul a:hover {
	filter: blur(0px);
}

.navbar ul a:not(:last-child) {
	margin-right: 50px;
}

.navbar ul a::after {
	content: '';
	width: 0%;
	height: 2px;
	background: var(--h_color);
	display: block;
	margin: auto;
	transition: 0.5s;
}

.navbar ul a:hover::after {
	width: 100%;
}
.main{
	width: 100%;
	height: 100%;
}
.home {
	display: flex;
	justify-content: space-between;
	width: 75%;
	margin: auto;
	height: 80vh;
	/* align-items: center;
	background-color: green; */


}

.home_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text_con {
	gap: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	
}

.container h1 {
	font-size: 50px;
	color: #3c3e41;
	font-weight: 600;
}

.container{
    width: 600px;
    overflow: hidden;
}

.container .text{
    position: relative;
    font-size: 40px;
}

.container .text.first-text{
    color: var(--color);
	font-weight: 600;
}

.sec-text{
	font-weight: 500;
	margin-left: 15px;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    border-left: 2px solid var(--h_color);
    animation: animate 4s infinite;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

.text_con p {
	color: var(--color);
	font-size: 16px;
	line-height: 28px;
	width: 70%;
}

.frames {
	
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-top: 40px;
	width: 45%;
	/* background-color: #0A66C2; */
	
}

/* .buttonland a {
	background: var(--boxBackground);
	position: relative;
	padding: 12px 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;
	transition: .5s ease;
	color:var(--color);
	box-shadow: var(--boxshadow);
	font-size: 19px;
	overflow: hidden;
	z-index: 1; 
	text-decoration: none;
	margin-top: 40px;


.buttonland a:nth-child(2) {
	color: var(--h_color);

}

.buttonland a:nth-child(1) {
color:var(--h_color);
box-shadow: var(--boxshadow);

}

.buttonland a:hover {
	color:var(--background);
}

.buttonland a:nth-child(2)::before {
	background: var(--hBoxBackground);

}

.buttonland a:nth-child(1)::before {
	background: var(--hBoxBackground);
}

.buttonland a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	z-index: -1;
	transition: .5s;

}

.buttonland a:hover::before {
	width: 110%;

} */ 

.frame {
 	height: 60px;
 	overflow: hidden;
 	color: black;
 	background-color: var(--background);
 	box-shadow: var(--boxshadow);
	border-radius: 10px;

 }

 .frame span {
 	height: 60px;
 	font-size: 19px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	padding: 0px 10px;
 	text-align: center;
 	transform: translateY(0px);
 	transition: .8s ease;
 	cursor: pointer;
	font-weight: 400;
	color: var(--h_color);

 }

  .frame:hover span{
	  transform: translateY(-60px);
	  color: var(--color);
  }

  .frame:hover{
	box-shadow: none;
}

.icon {
	position: relative;
	top: 150px;
	display: flex;
	z-index: 1;


}

.icon i {
	font-size: 30px;
	padding: 6px 13px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.8s ease;
	box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
	background: linear-gradient(145deg, #e2e8ec, #ffffff);
}

.icon i:hover {
	transform: translateY(-5px);
}

.icon .bi-linkedin {
	color: #0A66C2;
}

.icon .bi-linkedin:hover {
	background: #0A66C2;
	color: #e2e8ec;
}

.icon .bi-whatsapp {
	color: #25D366;
}

.icon .bi-whatsapp:hover {
	background: #25D366;
	color: #e2e8ec;
}

.icon .bi-facebook {
	color: #3b5998;
}

.icon .bi-facebook:hover {
	background: #3b5998;
	color: #e2e8ec;
}

.icon .bi-twitter {
	color: #00acee;
}

.icon .bi-twitter:hover {
	background: #00acee;
	color: #e2e8ec;
}

.icon i:nth-child(n+2) {
	margin-left: 40px;

}
.hero_img{
	margin-top: 10px;
	margin-right: 30px;
	padding:40px;
	height: 100%;
	width: 100%;
}
.image_content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	border-radius: 10px;
	/* animation: flow 2s infinite alternate; */

}
.image_content::before{
	position:absolute;
	z-index: -1;
    width: 100%;
    height: calc(100% - 130px);
	/* height: 100%; */
    content: "";
    bottom: 0;
    border-radius: 6px;
	background: linear-gradient(145deg, #e2e8ec, #ffffff);
	box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}

.my_image{
	width: 100%;
	height: 100%;
}

.my_image img {
	/* width: 100%; */
	height:100%;
}

@keyframes flow {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-10px);
	}
}

.secondpage {
	width: 75%;
	margin: auto;
	padding-top: 100px;
	position: relative;
	
	
}

.secondpage h3 {
	font-size: 25px;
	font-weight: 300;
	color: #ff014f;
	display: flex;
	flex-direction: column;
	line-height: 50px;
}
.secondpage h3 span {
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 20px;
	color: black;
}

.feat_box{
	display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* min-value will be the miniuma value which will work in mobole resposive*/
		/* grid-template-rows: 350px 350px; its not requaired because i used padding on box */ 
    gap: 50px;
	margin-top: 50px;
	transition: .2s linear;	
	position: relative;
	z-index: 1;
	flex-wrap: wrap;
	flex-direction: row;
	/* background-color: #d11414; */
	justify-content: center;
}

.box{
	flex-wrap: wrap;
	/* max-width: 320px; */
	flex: 30%;
	position: relative;
	z-index: 1;
	max-height: 500px;
	min-width: 280px;
}

.feat_box .box{
	background: var(--boxBackground);
	box-shadow: var(--boxshadow);
	border-radius: 10px;
	padding: 40px 20px;
	transition: .8s;
	position: relative;
	display: flex;
	justify-content: center;
	
}

.box::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	transition: .1s ease-in-out;
	background: var(--hBoxBackground);
	border-radius: 10px;
	opacity: 0;
}

.box:hover::after{
  opacity: 1;
}

.box:hover .cursor {
	display: none;
  }
  
.box_content{
   /* background-color: #d11414; */
   width: 93%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   z-index: 2;
   transition: .2s ease-in-out;
   cursor: pointer;
   
}

.box:hover .box_content{
	transform: translateY(-20px);
}

.box_content i{
	font-size: 50px;
	color: var(--h_color);
	transition: .2s ease-in-out;
	font-weight: 200;
}

.box_content h3{
	color: var(--color);
	font-weight: 500;
	transition: .2s ease-in-out;
}

.box_content p{
	font-size: 16px;
	width: 100%;
	line-height: 30px;
	transition: .2s ease-in-out;
	font-weight: 300;
	
}

.box_content a{
	text-decoration: none;
	font-size: 10px;
	opacity: 0;
    transition: .2s ease-in-out;
	
}

.box:hover .box_content a {
	opacity: 1;
	
} 
.box_content a i{
	font-size: 2.4vw;
	
}
/* .box:hover .box_content i{
	color:var(--background);
}
.box:hover .box_content h3{
	color:var(--background);
}
.box:hover .box_content p{
	color:var(--background);
} */
.box:hover .box_content i, .box:hover .box_content h3, .box:hover .box_content p {
    color: var(--background);
}
.thirdpage{
	width: 75%;
	margin: auto;
	padding-top: 100px;
	position: relative;
	/* background-color: red; */
}

.thirdpage h2{
	text-align: center;
	color: var(--h_color);
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 2px;
	
}
.thirdpage h4{
	font-family: 'Roboto', sans-serif;
    text-align: center;
	font-weight: 700;
	font-size: 3vw;
	letter-spacing: 2px;
}
.overlaySwiper{
	width: 100%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}


.overlaySwipe h1 {
	margin: 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #016bec;
	transform: translateY(20px);
	transition: all .4s ease;
	transition-delay: .2s;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	@media screen and (max-width: 520px) {&{
	  font-size: 16px;
	  line-height: 24px;
	 }}
  }
  
  .overlaySwipe p {
	font-size: 16px;
	line-height: 24px;
	color: #889DB8;
	transform: translateY(20px);
	transition: all .4s ease;
	transition-delay: .3s;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	text-overflow: ellipsis;
	
	@media screen and (max-width: 520px) {&{
	  font-size: 14px;
	  line-height: 20px;
	}}
  }
  
  .swiper-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	z-index: 1;
	position: relative;
  }
  
  .swiper-container {
	margin: 0px auto;
	background: linear-gradient(270deg, rgba(247,249,255,1) 0%, rgba(242,246,255,1) 100%);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	width: 70%;
	position: relative;
	height: 60vh;
	max-height: 420px;
	border-radius: 10px;
  }
  
  .slider-image-wrapper {
	height: 200px;
	width: 100%;
	overflow: hidden;
  }
  
  .slider-item {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	opacity: 0;
	background: linear-gradient(270deg, rgba(247,249,255,1) 0%, rgba(242,246,255,1) 100%);
	cursor: grab;
	
	&-content {
	  padding: 32px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  transition: .4s;
	  
	  > * {
		opacity: 0;
		transform: translateY(20px);
	  }
	}
  }
  
  .swiper-slide-active {
	.slider-item-content > * {
	  transform: translateY(0px);
	  opacity: 1;
	}
  }
  
  .slider-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .2s;
  }
  
  .swiper-pagination {
	position: absolute;
	left: 50%;
	bottom: 8px;
	transform: translatex(-50%);
	z-index: 1;
	width: 90px!important;
  }
  
  .swiper-pagination-bullet {
	  border-radius: 0;
	  width: 8px;
	height: 8px;
	border-radius: 50%;
	  line-height: 30px;
	  font-size: 12px;
	  opacity: 1;
	  background: var(--h_color);
	display: inline-block;
	margin-right: 8px;
	cursor: pointer;
	transition: all 0.2s;
  }
  
  .swiper-pagination-bullet-active {
	  background: var(--h_color);
	width: 20px;
	border-radius: 10px;
  }
  
  .slider-buttons {
	position: absolute;
	display: flex;
	top: 100%;
	justify-content: flex-end;
	width: 100%;
	padding-top: 8px;
	gap: 30px;
	/* background-color: red; */
  }
  
  .swiper-button-next,
  .swiper-button-prev {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	color: var(--h_color);
	position: relative;
	margin-left: 4px;
	
	&:before {
	  content: '';
	  position: absolute;
	  background-color: #383838;
	  height: 1px;
	  width: 0;
	  left: 0;
	  top: 50%;
	  transform: translatey(-50%);
	  bottom: -1px;
	  transition: .2s;
	}
	
	&:hover:before { width: 100%; }
  }
  .swiper-button-next:after, .swiper-button-prev:after {
	display: none;!important
  }
  @media screen and (max-width: 520px) {
	.swiper-button-next:hover:before,
	.swiper-button-prev:hover:before {
	display: none;
	}
  }




















.feat_box_two{
	display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* min-value will be the miniuma value which will work in mobole resposive*/
		/* grid-template-rows: 350px 350px; its not requaired because i used padding on box */ 
    gap: 60px;
	margin-top: 50px;
	transition: .2s linear;	
	position: relative;
	z-index: 1;
	flex-wrap: wrap;
	flex-direction: row;
	/* background-color: #d11414; */
	justify-content: center;
}
.box_two{
	flex-wrap: wrap;
	/* max-width: 320px; */
	flex: 23%;
	position: relative;
	z-index: 1;
	max-height: 400px;
	min-width: 280px;
	background-color: rgb(255, 0, 4);
}
.feat_box_two .box_two{
	background: var(--boxBackground);
	box-shadow: var(--boxshadow);
	border-radius: 10px;
	padding: 30px 20px;
	transition: .8s;
	position: relative;
	display: flex;
	justify-content: center;
	
}
.port_content{
 position: relative;
 z-index: 2;
 width: 100%;
 height: 100%;
 /* background-color: green; */
 /* padding: 40px 2px; */
}
.port_content .img{
	margin: auto;
	height: 80%;
	overflow: hidden;
	border-radius: 10px;
	/* background-color: red; */
}
.port_content .img img{
	/* display: none; */
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s ease all;
}
.port_content .img:hover img{
	scale: 1.2;
}
.short{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	
}
.short p{
	color: var(--h_color);
	letter-spacing: 2px;
}
.short a{
	color: var(--color);
	text-decoration: none;
	font-weight: 600;
	font-size: 15px;
}
.port_content h3{
	padding-top: 10px;
	font-weight: 600;
	color:var(--headingColor);
	font-size: 22px;
}
.fourthpage{
	width: 75%;
	margin: auto;
	padding-top: 100px;
	position: relative;
	/* background-color: green; */
	
}
/* .fourthpage::after{
	position: absolute;
    max-width: 1270px;
    height: 1px;
    background: #121415;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
} */

.fourthpage h2{
	text-align: center;
	color: var(--h_color);
	font-weight: 300;
	font-size: 22px;
	letter-spacing: 2px;
}
.fourthpage h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
	font-weight: 700;
	font-size: 3vw;
	letter-spacing: 2px;
}
.tab{
	width: 100%;
	display: flex;
	background: var(--boxBackground);
	box-shadow: var(--boxshadow);
	height: 100px;
	justify-content: space-between;
	border-radius: 10px;
	margin-top: 50px;
}
.tablinks{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 1vw;
	transition: .2s;
}
.tablinks:hover{
	background:var(--boxBackground);
	box-shadow: var(--boxshadow);
	border-radius: 10px;
	color: var(--h_color);
	
}
.active{
	background:var(--boxBackground);
	box-shadow: var(--boxshadow);
	border-radius: 10px;
	color: var(--h_color);
}
.resume_content{
	width: 100%;
	height:fit-content;
}
  .maineducation{
	/* background-color: red; */
	display: flex;
	justify-content:space-around;
	width: 100%;
	gap: 0;
  }
.professional_quali{
	/* background-color: #7f2929; */
	flex-basis: 47%;
	
	
}
.Education_quali{
	/* background-color: #0A66C2; */
	flex-basis: 47%;
	

}

.Education_quali h4,.professional_quali h4{
	text-align: left;
    padding-top: 30px;
    font-size: .8vw;
    font-weight: 500;
	color: var(--h_color);
	letter-spacing: 2px;
}
.Education_quali h5,.professional_quali h5{
	text-align: left;
    margin-top: 10px;
    font-size: 1.9vw;
    font-weight: 600;
    color: var(--headingColor);
}


.timeline {
	position: relative;
	margin: 0 auto;
	margin-top: 40px;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: #d9dee2;
	top: 1px;
	bottom: 0;
	/* left: 31px; */
	/* margin-left: -3px; */
	/* transform: translate(-50%); */
  }
  
  /* Container around content */
  .containerd{
	position: relative;
	padding-left: 70px;
	width: 90%;
  }
  .containerd:not(:first-child){
	margin-top: 40px;
  }
  
  /* The circles on the timeline */
  .containerd::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	background:var(--boxBackground);
	border: 5px solid #d9dee2;
	top: 1px;
	left: -9px;
	border-radius: 50%;
	z-index: 1;
	transition: .5s ease all;
	
  }
  .containerd:hover::after{
	background: var(--h_color);
  }

.containerd::before {
	position: absolute;
    content: "";
    width: 70px;
    height: 5px;
    top: 12px;
	left: 0px;
    background: #d9dee2;
	z-index: 1;
   
  }
.content {
	padding: 20px 30px 50px;
	background:var(--boxBackground);
	box-shadow:5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
	position: relative;
	border-radius: 6px;
	transition: .5s ease all;
	
  }
  .content:hover{
	background: var(--hBoxBackground);
  }
  .content .heading{
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	/* background-color: #00acee; */
  }
  .content .heading p{
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(145deg, #e2e8ec, #ffffff);
	box-shadow: var(--boxshadow);
	padding: 12px 35px;
	border-radius: 10px;
	height: 42px;
	width: 85px;
	color: var(--h_color);
	transition: .5s ease all;
  }
  .content:hover .heading p{
	background: var(--h_color);
	box-shadow: none;
  }
.content .heading h2{
	font-weight: 500;
	letter-spacing: 0;
	font-size: 1.3vw;
	text-align: left;
	transition: .5s ease all;
	color: var(--color);
	text-transform: capitalize;
}

.content h3{
	font-weight: 300;
	columns: var(--headingColor);
	text-transform: capitalize;
	font-size: .9vw;
	transition: .5s ease all;
	border-bottom: 1px solid #e3e9ed;
	padding-bottom: 11px;
	padding-top: .5vh;
	
}
.content p{
	font-weight: 400;
	color: var(--color);
	padding-top: 2vh;
	transition: .5s ease all;
}
.content:hover h2,
.content:hover h3,
.content:hover p {
    color: var(--background);
}
.mainskills{
	display: flex;
	justify-content: space-around;
	gap:0px;
	/* background: #ea1414; */
	/* height: 90vh; */
	width: 100%;
}
.code{
	/* background: #4d259c; */
	flex-basis: 47%;
	
	
}
.code h2{
	text-align: left;
	margin-top: 30px;
	font-size: .8vw;
	font-weight: 500;
}
.code h3{
	text-align: left;
	margin-top: 10px;
	font-size: 1.9vw;
	font-weight: 600;
	color: var(--headingColor);
}
.designe{
	/* background: #000; */
	flex-basis: 47%;
	/* padding-left: .6vw; */
	
}
.designe h2{
	text-align: left;
	margin-top: 30px;
	font-size: .8vw;
	font-weight: 500;
}
.designe h3{
	text-align: left;
	margin-top: 10px;
	font-size: 1.9vw;
	font-weight: 600;
	color: var(--headingColor);
}
.skill_bar{
	padding-top: 40px;
	width: 90%;
	/* height: 100%; */
	/* background-color: #d11414; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
  }
  .maincontain{
	width: 100%;
	height: 100%;
	
	
  }
  .maincontain:not(:first-child){
	padding-top: 16px;
  }
  .maincontain p{
	font-size: .8vw;
	color: var(--color);
	font-weight: 500;
	margin-left: 5px;
  }
  
.contain {
	width: 100%;
	height: 15px;
	background: var(--boxBackground);
	box-shadow: var(--boxshadow);
	border-radius: 100px;
	display:flex;
	align-items: center;

  }
 
  .skills {
	width: 100%;
	height: 60%;
	text-align: right;
	border-radius: 150px;
	margin-left:3px;
  }
  
  .html {
	width: 90%; 
	background:linear-gradient(145deg, #fff 0%, var(--h_color) 100%);;
	animation: width .9s ease ;
 }
  .css {
	width: 80%; 
	background: var(--h_color);
 }
  .js {
	width: 65%; 
	background: var(--h_color);
 }
  .php {
	width: 40%; 
	background: var(--h_color);
 }
  @keyframes width {
	0%{
		width: 0;

	}
	100%{
		width: 90%;
	}
  }
 
  .Experience_content,.language_content{
	width: 55%;
	margin: 0px auto;
  }
  .language_content h2,
  .language_content h3,
  .Experience_content h5,
  .Experience_content h4 {
	  text-align: left;
  }



  